body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

code {
  font-family: Noto Sans, Menlo, Monaco;
}



h2,
h3 {
  color: white;
}
span {
  color: white;
}
